In [1]:
import pandas as pd
import requests
from scipy.stats import poisson
import warnings
warnings.filterwarnings('ignore')

In [2]:
url = "https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2023_-_S%C3%A9rie_A"
req = requests.get(url)

In [3]:
tabelas = pd.read_html(req.text)

In [4]:
for tabela in tabelas:
    display(tabela)

    0                                                  1
0 NaN  Este artigo ou se(c)ção trata de um evento des...

                     Brasileirão Assaí – Série A 2023  \
                           Brasileirão 2023 - Série A
0   Campeonato Brasileiro de Futebol de 2023 - Sér...
1                                               Dados
2                                       Participantes
3                                         Organização
4                                             Período
5                                             Gol(o)s
6                                            Partidas
7                                               Média
8                                        Rebaixado(s)
9                                     Melhor marcador
10                                      Melhor ataque
11                                      Melhor defesa
12                          Maior goleada (diferença)
13                                            Público
14                                              Média
15                                    ◄◄ 2022 2024 ►►
16                                            ◄◄ 2022
17                       atualizado em 30 de novembro

                                                      Unnamed: 2_level_0
                         Brasileirão 2023 - Série A.1 Unnamed: 2_level_1
0   Campeonato Brasileiro de Futebol de 2023 - Sér...                NaN
1                                               Dados                NaN
2                                                  20                NaN
3                                                 CBF                NaN
4                         15 de abril – 6 de dezembro                NaN
5                                                 896                NaN
6                                                 360                NaN
7                            2,49 gol(o)s por partida                NaN
8                        América MineiroCoritibaGoiás                NaN
9               Paulinho (Atlético Mineiro) – 18 gols                NaN
10                                Palmeiras – 62 gols                NaN
11                         Atlético Mineiro – 27 gols                NaN
12  Internacional 7–1 SantosEstádio Beira-Rio, Por...                NaN
13                                          6 665 710                NaN
14                       26 451,2 pessoas por partida                NaN
15                                    ◄◄ 2022 2024 ►►                NaN
16                                                NaN            2024 ►►
17                       atualizado em 30 de novembro                NaN

         0   1        2
0  ◄◄ 2022 NaN  2024 ►►

,Equipe,Cidade,Estado,Em 2022,Estádio (mando),Capacidade[7],Títulos
0,América Mineiro,Belo Horizonte,MG,10º,Independência,23 018,0 (não possui)
1,Athletico Paranaense,Curitiba,PR,6º,Ligga Arena,42 370,1 (2001)
2,Atlético Mineiro,Belo Horizonte,MG,7º,Arena MRV[nota 1],44 892[9],"3 (1937,[10] 1971 e 2021)"
3,Bahia,Salvador,BA,3º (Série B),Itaipava Arena Fonte Nova,50 025,2 (1959 e 1988)
4,Botafogo,Rio de Janeiro,RJ,11º,Nilton Santos,44 661,2 (1968[nota 2] e 1995)
5,Corinthians,São Paulo,SP,4º,Neo Química Arena,47 605,"7 (1990, 1998, 1999, 2005, 2011, 2015 e 2017)"
6,Coritiba,Curitiba,PR,15º,Couto Pereira,40 502,1 (1985)
7,Cruzeiro,Belo Horizonte,MG,1º (Série B),Mineirão,61 927,"4 (1966, 2003, 2013 e 2014)"
8,Cuiabá,Cuiabá,MT,16º,Arena Pantanal,44 097,0 (não possui)
9,Flamengo,Rio de Janeiro,RJ,5º,Maracanã,78 838,"7 (1980, 1982, 1983, 1992, 2009, 2019 e 2020)"
10,Fluminense,Rio de Janeiro,RJ,3º,Maracanã,78 838,"4 (1970, 1984, 2010 e 2012)"
11,Fortaleza,Fortaleza,CE,8º,Arena Castelão,63 903,0 (não possui)
12,Goiás,Goiânia,GO,13º,Serrinha,14 525,0 (não possui)
13,Grêmio,Porto Alegre,RS,2º (Série B),Arena do Grêmio,55 662,2 (1981 e 1996)
14,Internacional,Porto Alegre,RS,2º,Beira-Rio,50 842,"3 (1975, 1976 e 1979)"
15,Palmeiras,São Paulo,SP,1º,Allianz Parque,43 713,"11 (1960, 1967[nota 2], 1967[nota 3], 1969, 19..."
16,Red Bull Bragantino,Bragança Paulista,SP,14º,Nabi Abi Chedid,15 010,0 (não possui)
17,Santos,Santos,SP,12º,Vila Belmiro,16 795,"8 (1961, 1962, 1963, 1964, 1965, 1968[nota 3],..."
18,São Paulo,São Paulo,SP,9º,Morumbi,72 039,"6 (1977, 1986, 1991, 2006, 2007 e 2008)"
19,Vasco da Gama,Rio de Janeiro,RJ,4º (Série B),São Januário,21 680,"4 (1974, 1989, 1997 e 2000)"

,0,1,2,3,4,5
0,América Mineiro,Athletico Paranaense,Atlético Mineiro,Bahia,Botafogo,Corinthians
1,Independência,Ligga Arena,Arena MRV,Itaipava Arena Fonte Nova,Nilton Santos,Neo Química Arena
2,Capacidade: 23 018,Capacidade: 42 370,Capacidade: 44 892,Capacidade: 50 025,Capacidade: 44 661,Capacidade: 47 605
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Coritiba,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Cruzeiro
5,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,NaN
6,Couto Pereira,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Mineirão
7,Capacidade: 40 502,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Capacidade: 61 927
8,NaN,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,NaN
9,Cuiabá,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Flamengo
10,Arena Pantanal,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Maracanã
11,Capacidade: 44 000,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Capacidade: 78 838
12,NaN,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,NaN
13,Fluminense,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Fortaleza
14,Maracanã,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Arena Castelão
15,Capacidade: 78 838,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Capacidade: 63 903
16,NaN,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,NaN
17,Goiás,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Grêmio
18,Serrinha,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Arena do Grêmio
19,Capacidade: 14 525,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,América-MG Athletico-PR Atlético-MG Bahia Fort...,Capacidade: 55 662
20,NaN,NaN,NaN,NaN,NaN,NaN
21,Internacional,Palmeiras,Red Bull Bragantino,Santos,São Paulo,Vasco da Gama
22,Beira-Rio,Allianz Parque,Nabi Abi Chedid,Vila Belmiro,Morumbi,São Januário
23,Capacidade: 50 842,Capacidade:43 713,Capacidade: 15 010,Capacidade: 16 795,Capacidade: 72 039,Capacidade: 21 680
24,NaN,NaN,NaN,NaN,NaN,NaN

                                                   0
0  América-MG Athletico-PR Atlético-MG Bahia Fort...

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Palmeiras (T),66,36,19,9,8,62,32,+30,Fase de grupos da Copa Libertadores de 2024
1,2,Botafogo (T),63,36,18,9,9,57,34,+23,Fase de grupos da Copa Libertadores de 2024
2,3,Atlético Mineiro (T),63,36,18,9,9,49,27,+22,Fase de grupos da Copa Libertadores de 2024
3,4,Flamengo (T),63,36,18,9,9,54,40,+14,Fase de grupos da Copa Libertadores de 2024
4,5,Grêmio (T),62,36,19,5,12,59,54,+5,Segunda fase da Copa Libertadores de 2024
5,6,Red Bull Bragantino (T),59,36,16,11,9,47,33,+14,Segunda fase da Copa Libertadores de 2024
6,7,Fluminense (Q),56,36,16,8,12,49,43,+6,Fase de grupos da Copa Libertadores de 2024[a]
7,8,Athletico Paranaense (Q),53,36,13,14,9,48,40,+8,Fase de grupos da Copa Sul-Americana de 2024
8,9,São Paulo (Q),50,36,13,11,12,38,36,+2,Fase de grupos da Copa Libertadores de 2024[b]
9,10,Internacional,49,36,13,10,13,41,43,−2,Fase de grupos da Copa Sul-Americana de 2024
10,11,Fortaleza,48,36,13,9,14,42,43,−1,Fase de grupos da Copa Sul-Americana de 2024
11,12,Cuiabá,48,36,13,9,14,36,37,−1,Fase de grupos da Copa Sul-Americana de 2024
12,13,Corinthians,47,36,11,14,11,44,46,−2,Fase de grupos da Copa Sul-Americana de 2024
13,14,Cruzeiro,45,36,11,12,13,34,31,+3,Fase de grupos da Copa Sul-Americana de 2024
14,15,Santos,43,36,11,10,15,38,59,−21,NaN
15,16,Vasco da Gama,42,36,11,9,16,39,49,−10,NaN
16,17,Bahia,41,36,11,8,17,44,49,−5,Rebaixados à Série B de 2024
17,18,Goiás (R),35,36,8,11,17,35,52,−17,Rebaixados à Série B de 2024
18,19,Coritiba (R),30,36,8,6,22,41,70,−29,Rebaixados à Série B de 2024
19,20,América Mineiro (R),21,36,4,9,23,39,78,−39,Rebaixados à Série B de 2024

,Casa \ Fora,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
0,América Mineiro,—,2–2,1–1,NaN,1–2,2–0,0–3,0–4,1–2,...,0–3,2–1,0–1,3–4,1–2,1–4,0–2,2–0,2–1,0–1
1,Athletico Paranaense,3–2,—,1–1,2–0,1–0,1–0,3–2,3–3,2–0,...,2–2,1–1,2–0,1–2,2–1,2–2,1–1,NaN,1–1,0–0
2,Atlético Mineiro,2–2,2–1,—,1–0,1–0,0–1,1–2,0–1,1–0,...,2–0,3–1,2–1,3–0,2–0,1–1,1–1,2–0,NaN,1–2
3,Bahia,3–1,1–1,NaN,—,1–2,0–0,3–1,2–2,0–3,...,1–0,2–0,1–1,1–2,1–0,1–0,4–0,1–2,0–1,1–1
4,Botafogo,2–0,1–1,2–0,3–0,—,3–0,4–1,NaN,0–1,...,1–0,2–0,1–1,3–4,3–1,3–4,2–0,1–1,2–1,2–0
5,Corinthians,1–1,1–0,1–1,1–5,1–0,—,3–1,2–1,1–1,...,2–0,1–1,1–1,4–4,a,0–0,0–1,1–1,1–1,3–1
6,Coritiba,3–1,2–0,1–2,2–4,1–1,NaN,—,1–0,0–3,...,2–0,0–3,0–1,1–2,0–1,0–2,0–1,0–0,1–1,0–0
7,Cruzeiro,1–1,1–1,0–1,3–0,0–0,1–1,0–0,—,0–1,...,0–2,0–1,0–1,1–0,1–2,a,0–0,2–1,1–0,2–2
8,Cuiabá,2–2,NaN,0–4,1–1,0–1,0–1,1–1,0–0,—,...,3–0,2–1,1–1,1–2,0–2,0–2,1–1,3–0,2–1,0–2
9,Flamengo,1–1,0–3,0–3,1–0,2–3,1–0,3–0,1–1,NaN,...,1–1,2–0,2–0,3–0,0–0,3–0,1–0,1–2,1–1,1–0
10,Fluminense,3–1,2–0,1–1,2–1,0–2,3–3,2–1,1–0,2–0,...,—,1–0,5–3,a,2–0,2–1,2–1,1–0,1–0,1–1
11,Fortaleza,3–2,1–0,2–1,0–0,2–2,2–1,3–1,0–1,0–1,...,4–2,—,NaN,1–1,1–1,2–2,0–3,4–0,0–0,2–0
12,Goiás,NaN,1–1,0–0,4–6,2–1,3–1,1–2,0–1,0–1,...,2–2,1–0,—,1–1,0–0,0–5,0–2,0–1,2–0,1–1
13,Grêmio,3–1,1–2,1–0,1–0,0–2,0–1,5–1,3–0,2–0,...,2–1,0–0,2–1,—,3–1,1–0,3–3,1–0,2–1,NaN
14,Internacional,1–1,0–2,0–2,2–0,NaN,2–2,3–4,0–0,1–2,...,0–0,0–1,1–0,3–2,—,0–0,1–0,7–1,2–1,2–1
15,Palmeiras,4–0,1–0,0–2,1–0,0–1,2–1,3–1,1–0,2–1,...,a,3–1,1–0,4–1,3–0,—,1–1,1–2,5–0,1–0
16,Red Bull Bragantino,2–2,2–0,1–2,2–1,2–2,1–0,NaN,0–3,2–0,...,1–0,1–2,2–0,2–0,0–0,2–1,—,2–0,0–0,1–1
17,Santos,3–2,1–1,0–0,3–0,2–2,0–2,2–1,0–3,0–0,...,0–3,NaN,4–3,2–1,1–1,0–0,1–3,—,0–0,4–1
18,São Paulo,3–0,2–1,0–2,0–0,0–0,2–1,2–1,1–0,0–0,...,1–0,1–2,2–1,3–0,2–0,0–2,1–0,4–1,—,4–2
19,Vasco da Gama,2–1,0–2,1–0,0–1,1–0,2–4,5–1,0–1,1–0,...,4–2,1–0,0–1,1–0,1–2,2–2,NaN,0–1,0–0,—

,Rodada ↓,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
0,1ª,20,3,15,12,4,6,19,13,16,...,1,10,18,9,10,7,4,17,13,8
1,2ª,20,11,16,18,2,14,19,12,15,...,1,3,10,13,6,4,7,17,9,5
2,3ª,20,16,10,14,1,17,19,6,18,...,5,2,15,7,4,3,12,11,8,9
3,4ª,20,10,16,9,1,15,19,3,13,...,6,4,18,7,8,2,12,14,5,11
4,5ª,20,4,8,13,1,16,19,4,17,...,3,6,18,10,11,2,15,9,7,14
5,6ª,20,5,6,14,1,17,19,4,18,...,3,8,15,11,12,2,13,7,10,16
6,7ª,19,7,4,13,1,18,20,5,14,...,3,11,16,10,15,2,12,9,8,17
7,8ª,19,11,4,16,1,14,20,6,15,...,8,9,17,5,13,2,10,12,3,18
8,9ª,18,7,3,15,1,16,20,10,14,...,6,9,17,4,13,2,11,12,8,19
9,10ª,18,7,4,15,1,16,20,9,14,...,5,11,17,6,10,2,12,13,8,19
10,11ª,18,11,5,14,1,15,20,12,16,...,7,10,17,3,8,2,9,13,6,19
11,12ª,19,9,10,14,1,15,20,12,16,...,5,8,17,2,6,4,7,13,11,18
12,13ª,19,9,10,15,1,16,20,12,13,...,6,11,17,2,8,4,5,14,7,18
13,14ª,20,11,12,16,1,15,18,9,14,...,4,7,17,3,10,5,6,13,8,19
14,15ª,20,8,12,16,1,15,18,10,13,...,5,9,17,3,11,6,7,14,4,19
15,16ª,19,5,13,17,1,15,18,11,12,...,7,9,16,2,10,4,8,14,6,20
16,17ª,19,7,13,17,1,14,18,10,9,...,5,11,16,4,12,3,6,15,8,20
17,18ª,20,7,10,16,1,14,18,11,8,...,3,13,15,6,12,4,5,17,9,19
18,19ª,20,6,10,16,1,14,18,12,8,...,7,11,15,2,13,3,5,17,9,19
19,20ª,20,6,11,16,1,13,19,12,9,...,4,8,15,5,14,2,7,17,10,18
20,21ª,20,7,9,16,1,13,19,12,10,...,5,8,15,3,14,2,6,17,11,18
21,22ª,19,7,9,16,1,13,20,12,10,...,5,8,15,3,14,2,6,17,11,18
22,23ª,19,7,9,15,1,14,20,11,10,...,6,8,16,3,12,2,5,17,13,18
23,24ª,19,6,9,17,1,11,20,13,12,...,5,8,16,3,14,2,4,18,10,15
24,25ª,19,8,7,18,1,13,20,12,11,...,6,9,16,3,14,4,2,15,10,17
25,26ª,20,8,9,16,1,14,19,13,11,...,7,6,18,3,12,4,2,15,10,17
26,27ª,20,6,7,14,1,13,19,15,10,...,9,8,18,4,12,5,2,17,11,16
27,28ª,20,5,7,13,1,15,19,14,11,...,9,8,16,6,12,4,2,18,10,17
28,29ª,20,5,7,15,1,14,19,13,12,...,8,9,17,6,11,3,2,16,10,18
29,30ª,20,7,6,15,1,14,19,13,10,...,8,9,17,4,12,2,3,16,11,18
30,31ª,20,7,5,14,1,12,19,16,11,...,8,9,18,4,13,2,3,15,10,17
31,32ª,20,7,5,15,1,13,19,17,12,...,8,9,18,4,11,2,3,14,10,16
32,33ª,20,7,6,15,1,14,19,17,10,...,8,11,18,2,12,3,4,13,9,16
33,34ª,20,7,6,17,2,12,19,16,9,...,8,11,18,4,13,1,5,14,10,15
34,35ª,20,8,4,17,3,14,19,13,9,...,7,12,18,5,11,1,6,15,10,16
35,36ª,20,8,3,17,2,13,19,14,12,...,7,11,18,5,10,1,6,15,9,16
36,37ª,20,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,...,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38ª,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Rodada ↑,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS

                                                   0   1
0  Líder e fase de grupos da Copa Libertadores de... NaN

   Pos.          Jogador                Equipe  Gols[25]
0     1         Paulinho      Atlético Mineiro        18
1     2  Tiquinho Soares              Botafogo        17
2     3             Hulk      Atlético Mineiro        14
3     3      Luis Suárez                Grêmio        14
4     5  Marcos Leonardo                Santos        13
5     6        Deyverson                Cuiabá        12
6     6            Pedro              Flamengo        12
7     6           Robson              Coritiba        12
8     6      Vitor Roque  Athletico Paranaense        12

   Pos.         Jogador            Equipe  Asst.[26]
0     1     Luis Suárez            Grêmio         11
1     2            Hulk  Atlético Mineiro         10
2     3  Cristian Pavón  Atlético Mineiro          7
3     3          Gerson          Flamengo          7
4     3      Jhon Arias        Fluminense          7
5     3        PH Ganso        Fluminense          7
6     3   Raphael Veiga         Palmeiras          7

   Pos.        Jogador               Equipe  Jogos[27]
0     1        Cleiton  Red Bull Bragantino         15
1     2        Éverson     Atlético Mineiro         14
2     2    Lucas Perri             Botafogo         14
3     2  Rafael Cabral             Cruzeiro         14
4     2       Weverton            Palmeiras         14
5     6          Fábio           Fluminense         12
6     6         Rafael            São Paulo         12
7     6         Walter               Cuiabá         12

       Jogador   Clube Adversário   Placar           Data  Ref.
0     Everaldo   Bahia      Goiás  6–4 (F)   7 de outubro  [28]
1  Luis Suárez  Grêmio   Botafogo  4–3 (F)  9 de novembro  [29]

,N.º,Público[nota 4],Mandante,Placar,Visitante,Estádio,Data,Rodada,Ref.
0,1,64 708,Flamengo,1–2,Santos,Mané Garrincha,1 de novembro,31ª,[30]
1,2,64 524,Flamengo,1–0,Vasco da Gama,Maracanã,22 de outubro,28ª,[31]
2,3,61 094,Flamengo,1–1,Cruzeiro,Maracanã,28 de maio,8ª,[32]
3,4,60 997,Flamengo,3–0,Palmeiras,Maracanã,8 de novembro,33ª,[33]
4,5,60 352,Flamengo,1–0,Corinthians,Maracanã,21 de maio,7ª,[34]
5,6,60 304,Flamengo,2–0,Fortaleza,Maracanã,1 de julho,13ª,[35]
6,7,60 236,Flamengo,1–1,América Mineiro,Maracanã,22 de julho,16ª,[36]
7,8,59 979,Flamengo,1–1,Fluminense,Maracanã,11 de novembro,34ª,[37]
8,9,59 921,Flamengo,0–3,Atlético Mineiro,Maracanã,29 de novembro,36ª,[38]
9,10,59 188,Flamengo,3–0,Grêmio,Maracanã,11 de junho,10ª,[39]

,N.º,Público[nota 4],Mandante,Placar,Visitante,Estádio,Data,Rodada,Ref.
0,1,1 088,América Mineiro,0–3,Coritiba,Independência,8 de novembro,33ª,[40]
1,2,1 303,América Mineiro,1–2,Internacional,Independência,25 de junho,12ª,[41]
2,3,1 388,América Mineiro,0–2,Red Bull Bragantino,Independência,19 de setembro,24ª,[42]
3,4,1 436,América Mineiro,2–1,Fortaleza,Independência,20 de maio,7ª,[43]
4,5,1 838,América Mineiro,3–4,Grêmio,Independência,28 de outubro,30ª,[44]
5,6,2 012,América Mineiro,2–2,Athletico Paranaense,Mineirão,11 de junho,10ª,[45]
6,7,2 030,América Mineiro,0–1,Goiás,Independência,13 de agosto,19ª,[46]
7,8,2 614,América Mineiro,2–0,Santos,Independência,3 de setembro,22ª,[47]
8,9,2 909,Red Bull Bragantino,2–2,América Mineiro,Nabi Abi Chedid,10 de maio,5ª,[48]
9,10,3 148,América Mineiro,0–4,Cruzeiro,Independência,14 de maio,6ª,[49]

,Clube,Antecessor,Data,Última partida,Rod,Pos,Sucessor,Ref.
0,Flamengo,Mario Jorge (interino),17 de abril,Flamengo 3–0 Coritiba,1ª,2º,Jorge Sampaoli[nota 5],[51]
1,Coritiba,António Oliveira,18 de abril,Flamengo 3–0 Coritiba,1ª,19º,Antônio Carlos Zago[nota 6],[53][54]
2,São Paulo,Rogério Ceni,19 de abril,São Paulo 2–0 Academia Puerto Cabello[nota 7],1ª,13º,Dorival Júnior,[55][56]
3,Corinthians,Fernando Lázaro,20 de abril,Corinthians 0–1 Argentinos Juniors[nota 8],1ª,6º,Cuca,[57][58]
4,Corinthians,Cuca,27 de abril,Corinthians 2–0 Remo[nota 9],2º,14º,Vanderlei Luxemburgo[nota 10],[60][61]
5,Cuiabá,Ivo Vieira,10 de maio,Cuiabá 0–4 Atlético Mineiro,5º,17º,António Oliveira[nota 11],[63][64]
6,Goiás,Emerson Ávila (interino),9 de junho,Goiás 0–0 Gimnasia y Esgrima[nota 7],9ª,17º,Armando Evangelista[nota 12],[66][67]
7,Atlético Mineiro,Eduardo Coudet,11 de junho,Atlético Mineiro 1–1 Red Bull Bragantino,10ª,3º,Felipão,[68][69]
8,Athletico Paranaense,Paulo Turra,16 de junho,América Mineiro 2–2 Athletico Paranaense,10ª,7º,Wesley Carvalho (interino),[70][71]
9,Santos,Odair Hellmann,22 de junho,Santos 0–2 Corinthians,11ª,13º,Paulo Turra[nota 13],[73][74]
10,Vasco da Gama,Maurício Barbieri,22 de junho,Vasco da Gama 0–1 Goiás,11ª,19º,Ramón Díaz[nota 14],[76][77]
11,Coritiba,Antônio Carlos Zago,27 de junho,Grêmio 5–1 Coritiba,12ª,20º,Thiago Kosloski,[78][79]
12,Botafogo,Luís Castro,29 de junho,Botafogo 1–1 Magallanes[nota 7],12ª,1º,Bruno Lage[nota 15],[81][82]
13,Internacional,Mano Menezes,17 de julho,Internacional 0–0 Palmeiras,15ª,11º,Eduardo Coudet,[83][84]
14,Santos,Paulo Turra,6 de agosto,Santos 1–1 Athletico Paranaense,18ª,16º,Diego Aguirre,[85][86]
15,América Mineiro,Vagner Mancini,6 de agosto,Bahia 3–1 América Mineiro,18ª,20º,Fabián Bustos,[87][88]
16,Cruzeiro,Pepa,29 de agosto,Grêmio 3–0 Cruzeiro,21ª,12º,Zé Ricardo[nota 16],[90][91]
17,Bahia,Renato Paiva,6 de setembro,Bahia 1–1 Vasco da Gama,22ª,16º,Rogério Ceni,[92][93]
18,Santos,Diego Aguirre,15 de setembro,Santos 0–3 Cruzeiro,23ª,17º,Marcelo Fernandes,[94][95]
19,Corinthians,Vanderlei Luxemburgo,27 de setembro,Corinthians 1–1 Fortaleza[nota 7],24ª,10º,Mano Menezes,[96][97]
20,Flamengo,Jorge Sampaoli,28 de setembro,São Paulo 1–1 Flamengo[nota 9],24ª,7º,Tite[nota 17],[99][100]
21,Botafogo,Bruno Lage,3 de outubro,Botafogo 1–1 Goiás,25ª,1º,Lúcio Flávio (interino),[101][102]
22,América Mineiro,Fabián Bustos,9 de novembro,América Mineiro 0–3 Coritiba,33ª,20º,Diogo Giacomini (interino),[103]
23,Botafogo,Lúcio Flávio (interino),12 de novembro,Red Bull Bragantino 2–2 Botafogo,34ª,2º,Tiago Nunes,[104][105]
24,Cruzeiro,Zé Ricardo,12 de novembro,Coritiba 1–0 Cruzeiro,34ª,17º,Paulo Autuori (interino),[106][107]
25,Goiás,Armando Evangelista,14 de novembro,Atlético Mineiro 2–1 Goiás,34ª,18º,Mário Henrique (interino),[108][109]
26,Coritiba,Thiago Kosloski,27 de novembro,Fluminense 2–1 Coritiba,35º,19°,Guto Ferreira[nota 18],[111]

        Mês          Jogador Pos.          Clube Estatísticas         Ref.
        Mês          Jogador Pos.          Clube            J  G  A   Ref.
0     Abril  Tiquinho Soares    A       Botafogo            3  3  2  [112]
1      Maio  Tiquinho Soares    A       Botafogo            4  3  1  [113]
2     Junho  Tiquinho Soares    A       Botafogo            4  4  0  [114]
3     Julho  Tiquinho Soares    A       Botafogo            5  3  1  [115]
4    Agosto    Raphael Veiga    M      Palmeiras            3  2  1  [116]
5  Setembro    Pablo Vegetti    A  Vasco da Gama            4  4  1  [117]
6   Outubro     Alan Patrick    M  Internacional            5  3  2  [118]

        Mês           Jogador                Clube Estatísticas           \
        Mês           Jogador                Clube            J  V  E  D
0      Maio       Luís Castro             Botafogo            5  4  0  1
1     Junho     Renato Gaúcho               Grêmio            4  3  0  1
2     Julho  António Oliveira               Cuiabá            5  4  1  0
3    Agosto     Abel Ferreira            Palmeiras            4  3  0  1
4  Setembro    Pedro Caixinha  Red Bull Bragantino            3  2  1  0
5   Outubro    Pedro Caixinha  Red Bull Bragantino            5  3  1  1

    Ref.
    Ref.
0  [119]
1  [120]
2  [121]
3  [122]
4  [123]
5  [124]

,vdeCampeonato Brasileiro de Futebol - Série A,vdeCampeonato Brasileiro de Futebol - Série A.1
0,CBF Série B Série C Série D Série A1 Série A2 ...,CBF Série B Série C Série D Série A1 Série A2 ...
1,Assuntos principais,História Participações por clube Ranking de po...
2,Clubes da atualedição (2023),América Mineiro Athletico Paranaense Atlético ...
3,Edições,Torneio dos Campeões1937Taça Brasil 1959 1960 ...
4,Torneio dos Campeões,1937
5,Taça Brasil,1959 1960 1961 1962 1963 1964 1965 1966 1967 1968
6,Torneio Roberto Gomes Pedrosa,1967 1968 1969 1970
7,Campeonato Nacional de Clubes,1971 1972 1973 1974
8,Copa Brasil,1975 1976 1977 1978 1979 1984 1986 1987 1988
9,Taça de Ouro,1980 1981 1982 1983 1985
10,Campeonato Brasileiro,1989 1990 1991 1992 1993 1994 1995 1996 1997 1...
11,Copa João Havelange,2000
12,Campeonato Brasileiro - Série A,2003 2004 2005 2006 2007 2008 2009 2010 2011 2...
13,Premiações,Bola de Prata Musa do Brasileirão Prêmio Arthu...

,0,1
0,Torneio dos Campeões,1937
1,Taça Brasil,1959 1960 1961 1962 1963 1964 1965 1966 1967 1968
2,Torneio Roberto Gomes Pedrosa,1967 1968 1969 1970
3,Campeonato Nacional de Clubes,1971 1972 1973 1974
4,Copa Brasil,1975 1976 1977 1978 1979 1984 1986 1987 1988
5,Taça de Ouro,1980 1981 1982 1983 1985
6,Campeonato Brasileiro,1989 1990 1991 1992 1993 1994 1995 1996 1997 1...
7,Copa João Havelange,2000
8,Campeonato Brasileiro - Série A,2003 2004 2005 2006 2007 2008 2009 2010 2011 2...

,vdeFutebol na América do Sul em 2023 (CONMEBOL),vdeFutebol na América do Sul em 2023 (CONMEBOL).1
0,« 2022 2024 »,« 2022 2024 »
1,NaN,NaN
2,NaN,NaN
3,Campeonatos nacionais,Primeira divisão: ArgentinaBolíviaBrasilChileC...
4,Copas nacionais,Argentina Brasil Chile Colômbia Paraguai Uruguai
5,Copas das Ligas,Argentina Bolívia
6,Supercopas,"Argentina (Supercopa Argentina, Supercopa Inte..."
7,Torneios da CONMEBOL,Eliminatórias da Copa do Mundo de 2026 Copa Li...

In [5]:
tabela_classificacao = tabelas[6]
tabela_classificacao

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Palmeiras (T),66,36,19,9,8,62,32,+30,Fase de grupos da Copa Libertadores de 2024
1,2,Botafogo (T),63,36,18,9,9,57,34,+23,Fase de grupos da Copa Libertadores de 2024
2,3,Atlético Mineiro (T),63,36,18,9,9,49,27,+22,Fase de grupos da Copa Libertadores de 2024
3,4,Flamengo (T),63,36,18,9,9,54,40,+14,Fase de grupos da Copa Libertadores de 2024
4,5,Grêmio (T),62,36,19,5,12,59,54,+5,Segunda fase da Copa Libertadores de 2024
5,6,Red Bull Bragantino (T),59,36,16,11,9,47,33,+14,Segunda fase da Copa Libertadores de 2024
6,7,Fluminense (Q),56,36,16,8,12,49,43,+6,Fase de grupos da Copa Libertadores de 2024[a]
7,8,Athletico Paranaense (Q),53,36,13,14,9,48,40,+8,Fase de grupos da Copa Sul-Americana de 2024
8,9,São Paulo (Q),50,36,13,11,12,38,36,+2,Fase de grupos da Copa Libertadores de 2024[b]
9,10,Internacional,49,36,13,10,13,41,43,−2,Fase de grupos da Copa Sul-Americana de 2024
10,11,Fortaleza,48,36,13,9,14,42,43,−1,Fase de grupos da Copa Sul-Americana de 2024
11,12,Cuiabá,48,36,13,9,14,36,37,−1,Fase de grupos da Copa Sul-Americana de 2024
12,13,Corinthians,47,36,11,14,11,44,46,−2,Fase de grupos da Copa Sul-Americana de 2024
13,14,Cruzeiro,45,36,11,12,13,34,31,+3,Fase de grupos da Copa Sul-Americana de 2024
14,15,Santos,43,36,11,10,15,38,59,−21,NaN
15,16,Vasco da Gama,42,36,11,9,16,39,49,−10,NaN
16,17,Bahia,41,36,11,8,17,44,49,−5,Rebaixados à Série B de 2024
17,18,Goiás (R),35,36,8,11,17,35,52,−17,Rebaixados à Série B de 2024
18,19,Coritiba (R),30,36,8,6,22,41,70,−29,Rebaixados à Série B de 2024
19,20,América Mineiro (R),21,36,4,9,23,39,78,−39,Rebaixados à Série B de 2024

In [6]:
tabela_jogos = tabelas[7]
tabela_jogos

,Casa \ Fora,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
0,América Mineiro,—,2–2,1–1,NaN,1–2,2–0,0–3,0–4,1–2,...,0–3,2–1,0–1,3–4,1–2,1–4,0–2,2–0,2–1,0–1
1,Athletico Paranaense,3–2,—,1–1,2–0,1–0,1–0,3–2,3–3,2–0,...,2–2,1–1,2–0,1–2,2–1,2–2,1–1,NaN,1–1,0–0
2,Atlético Mineiro,2–2,2–1,—,1–0,1–0,0–1,1–2,0–1,1–0,...,2–0,3–1,2–1,3–0,2–0,1–1,1–1,2–0,NaN,1–2
3,Bahia,3–1,1–1,NaN,—,1–2,0–0,3–1,2–2,0–3,...,1–0,2–0,1–1,1–2,1–0,1–0,4–0,1–2,0–1,1–1
4,Botafogo,2–0,1–1,2–0,3–0,—,3–0,4–1,NaN,0–1,...,1–0,2–0,1–1,3–4,3–1,3–4,2–0,1–1,2–1,2–0
5,Corinthians,1–1,1–0,1–1,1–5,1–0,—,3–1,2–1,1–1,...,2–0,1–1,1–1,4–4,a,0–0,0–1,1–1,1–1,3–1
6,Coritiba,3–1,2–0,1–2,2–4,1–1,NaN,—,1–0,0–3,...,2–0,0–3,0–1,1–2,0–1,0–2,0–1,0–0,1–1,0–0
7,Cruzeiro,1–1,1–1,0–1,3–0,0–0,1–1,0–0,—,0–1,...,0–2,0–1,0–1,1–0,1–2,a,0–0,2–1,1–0,2–2
8,Cuiabá,2–2,NaN,0–4,1–1,0–1,0–1,1–1,0–0,—,...,3–0,2–1,1–1,1–2,0–2,0–2,1–1,3–0,2–1,0–2
9,Flamengo,1–1,0–3,0–3,1–0,2–3,1–0,3–0,1–1,NaN,...,1–1,2–0,2–0,3–0,0–0,3–0,1–0,1–2,1–1,1–0
10,Fluminense,3–1,2–0,1–1,2–1,0–2,3–3,2–1,1–0,2–0,...,—,1–0,5–3,a,2–0,2–1,2–1,1–0,1–0,1–1
11,Fortaleza,3–2,1–0,2–1,0–0,2–2,2–1,3–1,0–1,0–1,...,4–2,—,NaN,1–1,1–1,2–2,0–3,4–0,0–0,2–0
12,Goiás,NaN,1–1,0–0,4–6,2–1,3–1,1–2,0–1,0–1,...,2–2,1–0,—,1–1,0–0,0–5,0–2,0–1,2–0,1–1
13,Grêmio,3–1,1–2,1–0,1–0,0–2,0–1,5–1,3–0,2–0,...,2–1,0–0,2–1,—,3–1,1–0,3–3,1–0,2–1,NaN
14,Internacional,1–1,0–2,0–2,2–0,NaN,2–2,3–4,0–0,1–2,...,0–0,0–1,1–0,3–2,—,0–0,1–0,7–1,2–1,2–1
15,Palmeiras,4–0,1–0,0–2,1–0,0–1,2–1,3–1,1–0,2–1,...,a,3–1,1–0,4–1,3–0,—,1–1,1–2,5–0,1–0
16,Red Bull Bragantino,2–2,2–0,1–2,2–1,2–2,1–0,NaN,0–3,2–0,...,1–0,1–2,2–0,2–0,0–0,2–1,—,2–0,0–0,1–1
17,Santos,3–2,1–1,0–0,3–0,2–2,0–2,2–1,0–3,0–0,...,0–3,NaN,4–3,2–1,1–1,0–0,1–3,—,0–0,4–1
18,São Paulo,3–0,2–1,0–2,0–0,0–0,2–1,2–1,1–0,0–0,...,1–0,1–2,2–1,3–0,2–0,0–2,1–0,4–1,—,4–2
19,Vasco da Gama,2–1,0–2,1–0,0–1,1–0,2–4,5–1,0–1,1–0,...,4–2,1–0,0–1,1–0,1–2,2–2,NaN,0–1,0–0,—

In [7]:
nomes_times = list(tabela_jogos["Casa \\ Fora"])
nomes_times

['América Mineiro',
 'Athletico Paranaense',
 'Atlético Mineiro',
 'Bahia',
 'Botafogo',
 'Corinthians',
 'Coritiba',
 'Cruzeiro',
 'Cuiabá',
 'Flamengo',
 'Fluminense',
 'Fortaleza',
 'Goiás',
 'Grêmio',
 'Internacional',
 'Palmeiras',
 'Red Bull Bragantino',
 'Santos',
 'São Paulo',
 'Vasco da Gama']

In [8]:
apelidos = list(tabela_jogos.columns)

In [9]:
apelidos[:5]

['Casa \\ Fora', 'AMM', 'ATP', 'ATM', 'BAH']

In [10]:
apelidos.pop(0)

'Casa \\ Fora'

In [11]:
dic_times = dict(zip(apelidos, nomes_times))
dic_times

{'AMM': 'América Mineiro',
 'ATP': 'Athletico Paranaense',
 'ATM': 'Atlético Mineiro',
 'BAH': 'Bahia',
 'BOT': 'Botafogo',
 'COR': 'Corinthians',
 'CTB': 'Coritiba',
 'CRU': 'Cruzeiro',
 'CUI': 'Cuiabá',
 'FLA': 'Flamengo',
 'FLU': 'Fluminense',
 'FOR': 'Fortaleza',
 'GOI': 'Goiás',
 'GRE': 'Grêmio',
 'INT': 'Internacional',
 'PAL': 'Palmeiras',
 'RBB': 'Red Bull Bragantino',
 'SAN': 'Santos',
 'SPA': 'São Paulo',
 'VAS': 'Vasco da Gama'}

In [12]:
tabela_jogos_ajustada = tabela_jogos.set_index('Casa \ Fora')
tabela_jogos_ajustada = tabela_jogos_ajustada.unstack().reset_index()
tabela_jogos_ajustada = tabela_jogos_ajustada.rename(columns={'level_0': 'fora',
                                                             'Casa \ Fora': 'casa',
                                                             0: 'resultado'})
tabela_jogos_ajustada

    fora                  casa resultado
0    AMM       América Mineiro         —
1    AMM  Athletico Paranaense       3–2
2    AMM      Atlético Mineiro       2–2
3    AMM                 Bahia       3–1
4    AMM              Botafogo       2–0
..   ...                   ...       ...
395  VAS             Palmeiras       1–0
396  VAS   Red Bull Bragantino       1–1
397  VAS                Santos       4–1
398  VAS             São Paulo       4–2
399  VAS         Vasco da Gama         —

[400 rows x 3 columns]

In [13]:
def ajustar_apelido_time(linha):
    return dic_times[linha["fora"]]

In [14]:
tabela_jogos_ajustada['fora'] = tabela_jogos_ajustada.apply(ajustar_apelido_time, axis=1)
tabela_jogos_ajustada

                fora                  casa resultado
0    América Mineiro       América Mineiro         —
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
..               ...                   ...       ...
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2
399    Vasco da Gama         Vasco da Gama         —

[400 rows x 3 columns]

In [15]:
tabela_jogos_ajustada = tabela_jogos_ajustada.query('fora != casa')
tabela_jogos_ajustada

                fora                  casa resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[380 rows x 3 columns]

In [16]:
tabela_jogos_ajustada['resultado'] = tabela_jogos_ajustada['resultado'].fillna('a jogar')
tabela_jogos_ajustada.isnull().sum()

fora         0
casa         0
resultado    0
dtype: int64

In [17]:
tabela_jogos_realizados = tabela_jogos_ajustada[tabela_jogos_ajustada['resultado'].str.contains('–')]
tabela_jogos_realizados= tabela_jogos_realizados[['casa', 'fora', 'resultado']]
tabela_jogos_realizados

                     casa             fora resultado
1    Athletico Paranaense  América Mineiro       3–2
2        Atlético Mineiro  América Mineiro       2–2
3                   Bahia  América Mineiro       3–1
4                Botafogo  América Mineiro       2–0
5             Corinthians  América Mineiro       1–1
..                    ...              ...       ...
394         Internacional    Vasco da Gama       2–1
395             Palmeiras    Vasco da Gama       1–0
396   Red Bull Bragantino    Vasco da Gama       1–1
397                Santos    Vasco da Gama       4–1
398             São Paulo    Vasco da Gama       4–2

[360 rows x 3 columns]

In [18]:
#usamos o sinal '~' quando queremos a condição contrária. Nesse caso, o que NÃO contém o '-'
tabela_jogos_faltantes = tabela_jogos_ajustada[~tabela_jogos_ajustada['resultado'].str.contains('–')]
tabela_jogos_faltantes = tabela_jogos_faltantes.drop('resultado', axis=1).reset_index(drop=True)
tabela_jogos_faltantes = tabela_jogos_faltantes[['casa', 'fora']]
tabela_jogos_faltantes

                    casa                  fora
0                  Goiás       América Mineiro
1                 Cuiabá  Athletico Paranaense
2                  Bahia      Atlético Mineiro
3        América Mineiro                 Bahia
4          Internacional              Botafogo
5               Coritiba           Corinthians
6    Red Bull Bragantino              Coritiba
7               Botafogo              Cruzeiro
8               Flamengo                Cuiabá
9              São Paulo              Flamengo
10             Palmeiras            Fluminense
11                Santos             Fortaleza
12             Fortaleza                 Goiás
13            Fluminense                Grêmio
14           Corinthians         Internacional
15              Cruzeiro             Palmeiras
16         Vasco da Gama   Red Bull Bragantino
17  Athletico Paranaense                Santos
18      Atlético Mineiro             São Paulo
19                Grêmio         Vasco da Gama

In [19]:
# o parametro Expand é para aplicar o resultado dos splits em colunas diferentes, ao invés de retornar uma lista
tabela_jogos_realizados[['gols_feitos_casa', 'gols_sofridos_casa']] = (tabela_jogos_realizados['resultado']
                                                                       .str.split('–', expand=True)
                                                                      .astype('int'))

In [20]:
media_gols_casa = tabela_jogos_realizados.groupby('casa').mean(numeric_only=True)
media_gols_fora = (tabela_jogos_realizados.groupby('fora').mean(numeric_only=True)
                   .rename(columns={"gols_feitos_casa": "gols_sofridos_fora", 
                          'gols_sofridos_casa': 'gols_feitos_fora'}))

In [21]:
#juntamos as tabelas e mantemos os indices das 2
tabela_stats = (media_gols_casa
                .merge(media_gols_fora, right_index=True, left_index=True)
                .reset_index().rename(columns={'casa': 'times'})
                )

In [22]:
brasileirao = '''


30ª rodada – 2º turno
25/10 – Flamengo 1 x 0 Red Bull Bragantino
25/10 – Botafogo 0 x 1 Cuiabá
25/10 – Palmeiras 1 x 0 Bahia
25/10 – Corinthians 1 x 1 Santos
25/10 – Goiás 1 x 1 Vasco
25/10 – Atlético-MG 2 x 0 Fluminense
25/10 – Internacional 3 x 4 Coritiba
25/10 – Athletico-PR 1 x 1 São Paulo
25/10 – Fortaleza 0 x 1 Cruzeiro
25/10 – América-MG 3 x 4 Grêmio
31ª rodada – 2º turno
29/10 – Flamengo 1 x 2 Santos
29/10 – Botafogo 3 x 4 Palmeiras
29/10 – São Paulo 1 x 0 Cruzeiro
29/10 – Corinthians 1 x 0 Athletico-PR
29/10 – Goiás 0 x 2 Red Bull Bragantino
29/10 – Atlético-MG 3 x 1 Fortaleza
29/10 – Internacional 1 x 1 América-MG
29/10 – Coritiba 1 x 2 Grêmio
29/10 – Bahia 1 x 0 Fluminense
29/10 – Cuiabá 0 x 2 Vasco
32ª rodada – 2º turno
01/11 – Fluminense 1 x 0 São Paulo
01/11 – Vasco 1 x 0 Botafogo
01/11 – Palmeiras 1 x 0 Athletico-PR
01/11 – Santos 0 x 0 Cuiabá
01/11 – Red Bull Bragantino 1 x 0 Corinthians
01/11 – Cruzeiro 1 x 2 Internacional
01/11 – Grêmio 1 x 0 Bahia
01/11 – Coritiba 0 x 1 Goiás
01/11 – Fortaleza 0 x 2 Flamengo
01/11 – América-MG 1 x 1 Atlético-MG
33ª rodada – 2º turno
05/11 – Flamengo 3 x 0 Palmeiras
05/11 – Botafogo 3 x 4 Grêmio
05/11 – São Paulo 1 x 0 Red Bull Bragantino
05/11 – Corinthians 1 x 1 Atlético-MG
05/11 – Goiás 0 x 1 Santos
05/11 – Cruzeiro 2 x 2 Vasco
05/11 – Internacional 0 x 0 Fluminense
05/11 – Athletico-PR 1 x 1 Fortaleza
05/11 – Bahia 0 x 3 Cuiabá
05/11 – América-MG 0 x 3 Coritiba
34ª rodada – 2º turno
12/11 – Flamengo 1 x 1 Fluminense
12/11 – Vasco 2 x 1 América-MG
12/11 – Palmeiras 3 x 0 Internacional
12/11 – Santos 0 x 0 São Paulo
12/11 – Red Bull Bragantino 2 x 2 Botafogo
12/11 – Atlético-MG 2 x 1 Goiás
12/11 – Grêmio 0 x 1 Corinthians
12/11 – Coritiba 1 x 0 Cruzeiro
12/11 – Bahia 1 x 1 Athletico-PR
12/11 – Cuiabá 2 x 1 Fortaleza
35ª rodada – 2º turno
22/11 – Fluminense 2 x 1 Coritiba
22/11 – Botafogo 1 x 1 Santos
22/11 – São Paulo 0 x 0 Cuiabá
22/11 – Corinthians 1 x 5 Bahia
22/11 – Goiás 0 x 1 Cruzeiro
22/11 – Atlético-MG 3 x 0 Grêmio
22/11 – Internacional 1 x 0 Red Bull Bragantino
22/11 – Athletico-PR 0 x 0 Vasco
22/11 – Fortaleza 2 x 2 Palmeiras
22/11 – América-MG 0 x 3 Flamengo
36ª rodada – 2º turno
26/11 – Flamengo 0 x 3 Atlético-MG
26/11 – Vasco 2 x 4 Corinthians
26/11 – Palmeiras 4 x 0 América-MG
26/11 – Santos 0 x 3 Fluminense
26/11 – Red Bull Bragantino 1 x 2 Fortaleza
26/11 – Cruzeiro 1 x 1 Athletico-PR
26/11 – Grêmio 2 x 1 Goiás
26/11 – Coritiba 1 x 1 Botafogo
26/11 – Bahia 0 x 1 São Paulo
26/11 – Cuiabá 0 x 2 Internacional
'''




l = list()

linhas = brasileirao.split('\n')



for linha in linhas:
    if 'rodada' in linha:
        continue
    info = linha.split(' – ')
    
    if len(info) == 2:
        
        data = info[0]
        jogo = info[1]


        info_data = data.split(' ')
        info_jogo = jogo.split(' x ')
        
        d = dict()
        
        d['data'] = info_data[0]
        d['mandante'] = info_jogo[0].rsplit(' ', 1)[0]
        d['visitante'] = info_jogo[1].split(' ', 1)[1]
        d['gols_mandante'] = info_jogo[0].rsplit(' ', 1)[1]
        d['gols_visitante'] = info_jogo[1].split(' ', 1)[0]
        
        l.append(d)
        
        
ultimos_jogos = pd.DataFrame(l)

In [23]:
ultimos_jogos[['gols_mandante', 'gols_visitante']] = ultimos_jogos[['gols_mandante', 'gols_visitante']].astype(int)

In [24]:
tabela_stats['média_gols_feitos_casa_ultimas_7_rod'] = ultimos_jogos.groupby('mandante')['gols_mandante'].mean().values

In [25]:
tabela_stats['média_gols_feitos_fora_ultimas_7_rod'] = ultimos_jogos.groupby('visitante')['gols_visitante'].mean().values

In [26]:
tabela_stats['gols_sofridos_fora_ultimas_7_rod'] = ultimos_jogos.groupby('visitante')['gols_mandante'].mean().values

In [27]:
tabela_stats['gols_sofridos_casa_ultimas_7_rod'] = ultimos_jogos.groupby('mandante')['gols_visitante'].mean().values

In [28]:
def calcular_pontuacao(linha):
    time_casa = linha["casa"]
    time_fora = linha["fora"]
    
    media_ponderada_casa = ((0.7 * tabela_stats.loc[tabela_stats["times"]==time_casa, "média_gols_feitos_casa_ultimas_7_rod"].iloc[0]) + 
                            (0.3 * tabela_stats.loc[tabela_stats["times"]==time_casa, "gols_feitos_casa"].iloc[0]))

    media_ponderada_fora = ((0.7 * tabela_stats.loc[tabela_stats["times"]==time_fora, 'média_gols_feitos_fora_ultimas_7_rod'].iloc[0]) + 
                            (0.3 * tabela_stats.loc[tabela_stats["times"]==time_fora, 'gols_feitos_fora'].iloc[0])
    )

    lambda_casa = media_ponderada_casa * tabela_stats.loc[tabela_stats["times"]==time_fora, "gols_sofridos_fora"].iloc[0]

    lambda_fora = media_ponderada_fora * tabela_stats.loc[tabela_stats["times"]==time_casa, "gols_sofridos_casa"].iloc[0]

    p_casa = 0
    p_empate = 0
    p_fora = 0

    for gols_time_casa in range(5):  # Considerando até 5 gols para cada time
        for gols_time_fora in range(5):
            prob_resultado = poisson.pmf(gols_time_casa, lambda_casa) * poisson.pmf(gols_time_fora, lambda_fora)
            if gols_time_casa > gols_time_fora:
                p_casa += prob_resultado
            elif gols_time_casa == gols_time_fora:
                p_empate += prob_resultado
            else:
                p_fora += prob_resultado
                
    ve_casa = p_casa * 3 + p_empate
    ve_fora = p_fora * 3 + p_empate
    linha["pontos_casa"] = ve_casa
    linha["pontos_fora"] = ve_fora
    return linha

In [29]:
tabela_jogos_faltantes = tabela_jogos_faltantes.apply(calcular_pontuacao, axis=1)
display(tabela_jogos_faltantes)

                    casa                  fora  pontos_casa  pontos_fora
0                  Goiás       América Mineiro     1.319843     1.357010
1                 Cuiabá  Athletico Paranaense     1.439438     1.212305
2                  Bahia      Atlético Mineiro     0.537767     2.144124
3        América Mineiro                 Bahia     0.656899     1.587176
4          Internacional              Botafogo     1.396506     1.280407
5               Coritiba           Corinthians     0.781805     1.819474
6    Red Bull Bragantino              Coritiba     1.460230     0.567320
7               Botafogo              Cruzeiro     1.941528     0.739803
8               Flamengo                Cuiabá     1.511312     1.150189
9              São Paulo              Flamengo     1.128823     1.522176
10             Palmeiras            Fluminense     2.006258     0.182154
11                Santos             Fortaleza     0.593049     2.091533
12             Fortaleza                 Goiás     1.528201     1.147538
13            Fluminense                Grêmio     1.445076     0.607429
14           Corinthians         Internacional     1.372496     1.290599
15              Cruzeiro             Palmeiras     1.097472     1.551252
16         Vasco da Gama   Red Bull Bragantino     1.851568     0.821440
17  Athletico Paranaense                Santos     1.687617     0.956416
18      Atlético Mineiro             São Paulo     2.230917     0.212251
19                Grêmio         Vasco da Gama     1.797563     0.850643

In [30]:
def ajustar_nome_time(linha):
    for nome in nomes_times:
        if nome in linha["Equipevde"]:
            return nome
    
tabela_classificacao["time"] = tabela_classificacao.apply(ajustar_nome_time, axis=1)
tabela_classificacao_atualizada = tabela_classificacao[["time", "Pts"]]
tabela_classificacao_atualizada["Pts"] = tabela_classificacao_atualizada["Pts"].astype(int)

display(tabela_classificacao_atualizada)

                    time  Pts
0              Palmeiras   66
1               Botafogo   63
2       Atlético Mineiro   63
3               Flamengo   63
4                 Grêmio   62
5    Red Bull Bragantino   59
6             Fluminense   56
7   Athletico Paranaense   53
8              São Paulo   50
9          Internacional   49
10             Fortaleza   48
11                Cuiabá   48
12           Corinthians   47
13              Cruzeiro   45
14                Santos   43
15         Vasco da Gama   42
16                 Bahia   41
17                 Goiás   35
18              Coritiba   30
19       América Mineiro   21

In [31]:
tabela_pontuacao_casa = tabela_jogos_faltantes.groupby("casa").sum(numeric_only=True)[["pontos_casa"]]
tabela_pontuacao_fora = tabela_jogos_faltantes.groupby("fora").sum(numeric_only=True)[["pontos_fora"]]
display(tabela_pontuacao_casa)
display(tabela_pontuacao_fora)

                      pontos_casa
casa
América Mineiro          0.656899
Athletico Paranaense     1.687617
Atlético Mineiro         2.230917
Bahia                    0.537767
Botafogo                 1.941528
Corinthians              1.372496
Coritiba                 0.781805
Cruzeiro                 1.097472
Cuiabá                   1.439438
Flamengo                 1.511312
Fluminense               1.445076
Fortaleza                1.528201
Goiás                    1.319843
Grêmio                   1.797563
Internacional            1.396506
Palmeiras                2.006258
Red Bull Bragantino      1.460230
Santos                   0.593049
São Paulo                1.128823
Vasco da Gama            1.851568

                      pontos_fora
fora
América Mineiro          1.357010
Athletico Paranaense     1.212305
Atlético Mineiro         2.144124
Bahia                    1.587176
Botafogo                 1.280407
Corinthians              1.819474
Coritiba                 0.567320
Cruzeiro                 0.739803
Cuiabá                   1.150189
Flamengo                 1.522176
Fluminense               0.182154
Fortaleza                2.091533
Goiás                    1.147538
Grêmio                   0.607429
Internacional            1.290599
Palmeiras                1.551252
Red Bull Bragantino      0.821440
Santos                   0.956416
São Paulo                0.212251
Vasco da Gama            0.850643

In [32]:
def atualizar_pontuacao_previsao(linha):
    time = linha["time"]
    pontuacao = int(linha["Pts"]) + float(tabela_pontuacao_casa.loc[time, "pontos_casa"]) + float(tabela_pontuacao_fora.loc[time, "pontos_fora"])
    return pontuacao


tabela_classificacao_atualizada["Pts"] = tabela_classificacao_atualizada.apply(atualizar_pontuacao_previsao, axis=1)
tabela_classificacao_atualizada = tabela_classificacao_atualizada.sort_values(by="Pts", ascending=False)
tabela_classificacao_atualizada = tabela_classificacao_atualizada.reset_index(drop=True)
tabela_classificacao_atualizada.index = tabela_classificacao_atualizada.index + 1
display(tabela_classificacao_atualizada)

                    time        Pts
1              Palmeiras  69.557510
2       Atlético Mineiro  67.375041
3               Botafogo  66.221935
4               Flamengo  66.033488
5                 Grêmio  64.404993
6    Red Bull Bragantino  61.281671
7             Fluminense  57.627230
8   Athletico Paranaense  55.899921
9          Internacional  51.687104
10             Fortaleza  51.619734
11             São Paulo  51.341074
12                Cuiabá  50.589627
13           Corinthians  50.191971
14              Cruzeiro  46.837275
15         Vasco da Gama  44.702211
16                Santos  44.549465
17                 Bahia  43.124944
18                 Goiás  37.467381
19              Coritiba  31.349125
20       América Mineiro  23.013909